<form (submit)="ngModelSubmit()">
    <input type="text" [(ngModel)]="model" name="model" placeholder="Ng Model">
    <input type="submit" value="Ng Model Submit">
</form>

<form (submit)="ngFormSubmit(form)" #form="ngForm">
    <input type="text" ngModel name="model" placeholder="Ng Form" required>
    <input type="submit" value="Ng Form Submit">
    <div class="error" *ngIf="isRequired(form.controls['model'])">
        The field is required
    </div>
</form>

<form (submit)="formGroupSubmit()" [formGroup]="group">
    <input type="text" formControlName="model" placeholder="Form builder">
    <input type="submit" value="Form Group Submit">
    <div class="error" *ngIf="isRequired(group.get('model'))">
        The field is required
    </div>
</form>