<div class="container">
  <br>
  <form #form="ngForm" fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="50%">

      <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="pr" fxFlex="50">
          <mat-form-field appearance="outline">
            <mat-label>Firstname</mat-label>
            <input type="text" matInput ngModel name="first" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>The filed is invalid</mat-error>
          </mat-form-field>
        </div>

        <div class="pl" fxFlex="50">
          <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input type="text" matInput ngModel name="last" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>The filed is invalid</mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput ngModel name="user" required>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>The filed is invalid</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="text" matInput ngModel name="password" required>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>The filed is invalid</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>